   body {
       font-family: 'Poppins', sans-serif;
       margin: 0;
       padding: 0;
       background: #ffc400;
       color: white;
       /* transition: background 0.3s, color 0.3s; */
   }

   header {
       /* background: #000;
       padding: 40px 20px;
       /* text-align: center; */
       /* font-size: 1,2rem; */
       /* position: sticky; */
       /* top: 0; */
       /* z-index: 1000; */
   }

   nav {
       background: #1c1c1c;
       /* padding: 10px;
       text-align: center;
       position: sticky;
       top: 80px;
       z-index: 999; */
   }

   .nav-link {
       color: white;
       margin: 0 15px;
       text-decoration: none;
       font-weight: bold;
   }

   .navbar-toggler {
       color: #ffc400;
   }

   .actived,
   .nav-link:hover {
       color: #ffc400;
   }

   section {
       padding: 60px 20px;
       max-width: 1000px;
       margin: auto;
   }

   footer {
       background: #000;
       text-align: center;
       padding: 20px;
   }

   img pattern {
       width: 100%;
   }

   .gallery {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 20px;
   }

   .gallery img {
       width: 100%;
       max-width: 300px;
       border-radius: 12px;
       transition: transform 0.3s ease;
   }

   .gallery img:hover {
       transform: scale(1.05);
   }

   .whatsapp-button {
       display: inline-block;
       background-color: #000000;
       color: white;
       margin-right: 1%;
       padding: 15px 25px;
       border-radius: 5px;
       font-size: 16px;
       text-decoration: none;
       animation: pulse 2s infinite;
   }

   @keyframes pulse {
       0% {
           transform: scale(1);
       }

       50% {
           transform: scale(1.05);
       }

       100% {
           transform: scale(1);
       }
   }

   .dark-mode {
       background: #fff;
       color: #111;
   }

   .dark-mode header,
   .dark-mode nav,
   .dark-mode footer {
       background: #f4f4f4;
       color: #111;
   }

   .theme-toggle {
       position: fixed;
       top: 10px;
       right: 10px;
       padding: 10px;
       background: #ffc400;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       color: white;
       z-index: 1001;
   }

   .logo-header {
       /* max-width: 30vw; */
       height: 50px;
       margin-left: 20px;
       margin-top: 10px;
       /* max-height: 100px; */
       /* height: auto; */
       /* width: auto; */
       /*   float: left; */
   }

   /* @media only screen and (max-width: 760px) {
        .logo-header {
            max-width: 80vw;
            margin-left: 20px;
        }
    } */

   .full-width {
       width: 100%;
       max-width: 100%;
       margin: 0;
       padding: 0;
       background: #fff;
   }

   .full-width>div {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       padding: 60px 20px;
       box-sizing: border-box;
   }